## Quiz 1: Simple Linear Regression
## Data Import

In [4]:
import pandas as pd

kc_house_train = pd.read_csv('~/Courses/u-wash-machine-learning/regression/data/kc_house_train_data.csv')
kc_house_test = pd.read_csv('~/Courses/u-wash-machine-learning/regression/data/kc_house_test_data.csv')

In [5]:
kc_house_train

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17379,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
17380,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
17381,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
17382,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
17383,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Write a generic function that accepts a column of data (e.g, an SArray) ‘input_feature’ and another column ‘output’ and returns the Simple Linear Regression parameters ‘intercept’ and ‘slope’. Use the closed form solution from lecture to calculate the slope and intercept. e.g. in python:

In [7]:
def simple_linear_regression(input_feature, output):
    n = len(input_feature)
    x = input_feature
    y = output
    
    #mean of input/ouput
    y_bar = y.mean()
    x_bar = x.mean()
    
    #compute the product of the output and the input_feature and its mean
    sum_xy = (y * x).sum()
    xy_by_n = (y.sum() * x.sum())/n
               
    #compute the squared value of the input_feature and its mean
    x_square = (x**2).sum()
    xx_by_n = (x.sum() * x.sum())/n
               
    #use the formula for the slope
    slope = (sum_xy - xy_by_n) / (x_square - xx_by_n)
    
    #use the formula for the intercept
    intercept = y_bar - (slope * x_bar)
    return(intercept, slope)

Use your function to calculate the estimated slope and intercept on the training data to predict ‘price’ given ‘sqft_living’. e.g. in python with SFrames using:

In [11]:
sqft_intercept, sqft_slope = simple_linear_regression(kc_house_train['sqft_living'].values, kc_house_train['price'].values)

print("Intercept: " + str(sqft_intercept))
print("Slope: " + str(sqft_slope))

Intercept: -47116.07907289418
Slope: 281.9588396303426

Write a function that accepts a column of data ‘input_feature’, the ‘slope’, and the ‘intercept’ you learned, and returns an a column of predictions ‘predicted_output’ for each entry in the input column. e.g. in python

In [12]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_values = intercept + (slope * input_feature)
    return predicted_values

Quiz Question: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?

In [13]:
get_regression_predictions(2650, sqft_intercept, sqft_slope)

700074.8459475137

Write a function that accepts column of data: ‘input_feature’, and ‘output’ and the regression parameters ‘slope’ and ‘intercept’  and outputs the Residual Sum of Squares (RSS). e.g. in python:

In [15]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    #get predictions
    predicted_values = intercept + (slope * input_feature)
    
    #compute residuals
    residuals = output - predicted_values
    
    #square the residuals and add them up
    RSS = (residuals * residuals).sum()
    return(RSS)

Quiz Question: According to this function and the slope and intercept from (4) What is the RSS for the simple linear regression using squarefeet to predict prices on TRAINING data?

In [16]:
get_residual_sum_of_squares(kc_house_train['sqft_living'].values, kc_house_train['price'].values, sqft_intercept, sqft_slope)

1201918354177283.0

Note that although we estimated the regression slope and intercept in order to predict the output from the input, since this is a simple linear relationship with only two variables we can invert the linear function to estimate the input given the output!

Write a function that accept a column of data:‘output’ and the regression parameters ‘slope’ and ‘intercept’ and outputs the column of data: ‘estimated_input’. Do this by solving the linear function output = intercept + slope*input for the ‘input’ variable (i.e. ‘input’ should be on one side of the equals sign by itself). e.g. in python:

In [19]:
def inverse_regression_predictions(output, intercept, slope):
    # solve output = intercept + slope*input_feature for input_feature. Use this equation to compute the inverse predictions:
    estimated_feature = (output - intercept)/slope
    return estimated_feature

Quiz Question: According to this function and the regression slope and intercept from (3) what is the estimated square-feet for a house costing $800,000?

Instead of using ‘sqft_living’ to estimate prices we could use ‘bedrooms’ (a count of the number of bedrooms in the house) to estimate prices. Using your function from (3) calculate the Simple Linear Regression slope and intercept for estimating price based on bedrooms. Save this slope and intercept for later (you might want to call them e.g. bedroom_slope, bedroom_intercept).

Now that we have 2 different models compute the RSS from BOTH models on TEST data.

Quiz Question: Which model (square feet or bedrooms) has lowest RSS on TEST data? Think about why this might be the case.

In [20]:
inverse_regression_predictions(800000, sqft_intercept, sqft_slope)

3004.3962451522766

In [22]:
# Compute RSS when using bedrooms on TEST data:
sqft_intercept, sqft_slope = simple_linear_regression(kc_house_train['bedrooms'].values, 
                                                      kc_house_train['price'].values)
rss_prices_on_bedrooms = get_residual_sum_of_squares(kc_house_test['bedrooms'].values, 
                                                     kc_house_test['price'].values, 
                                                     sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on Bedrooms is : ' + str(rss_prices_on_bedrooms))

The RSS of predicting Prices based on Bedrooms is : 493364585960300.9

In [ ]:
# Compute RSS when using squarfeet on TEST data:
sqft_intercept, sqft_slope = simple_linear_regression(kc_house_train['sqft_living'].values, 
                                                      kc_house_train['price'].values)
rss_prices_on_sqft = get_residual_sum_of_squares(kc_house_test['sqft_living'].values, 
                                                 kc_house_test['price'].values, 
                                                 sqft_intercept, sqft_slope)
print('The RSS of predicting Prices based on Square Feet is : ' + str(rss_prices_on_sqft))

The RSS of predicting Prices based on Square Feet is : 275402933617812.12