# Quiz 5: Recommender Systems

In [5]:
import turicreate

In [2]:
song_data = turicreate.SFrame('~/Courses/u-wash-machine-learning/machine-learning-case-study/data/song_data.sframe/')

**Counting unique users:**</br>  The method .unique() can be used to select the unique elements in a column of data. In this question, you will compute the number of unique users who have listened to songs by various artists.  For example, to find out the number of unique users who listened to songs by 'Kanye West', all you need to do is select the rows of the song data where the artist is 'Kanye West', and then count the number of unique entries in the ‘user_id’ column.  Compute the number of unique users for each of these artists:  'Kanye West', 'Foo Fighters', 'Taylor Swift' and 'Lady GaGa'.

In [13]:
print("Unique Listeners for Kanye West =", len(song_data[song_data['artist']=='Kanye West']['user_id'].unique()))
print("Unique Listeners for Foo Fighters =", len(song_data[song_data['artist']=='Foo Fighters']['user_id'].unique()))
print("Unique Listeners for Taylor Swift =", len(song_data[song_data['artist']=='Taylor Swift']['user_id'].unique()))
print("Unique Listeners for Lady GaGa =", len(song_data[song_data['artist']=='Lady GaGa']['user_id'].unique()))

Unique Listeners for Kanye West = 2522
Unique Listeners for Foo Fighters = 2055
Unique Listeners for Taylor Swift = 3246
Unique Listeners for Lady GaGa = 2928

Follow these steps to find the most popular artist in the dataset: 

The .groupby method has two important parameters:

1. key_columns, which takes the column we want to group, in our case, ‘artist’

2. operations, where we define the aggregation operation we using, in our case, we want to sum over the ‘listen_count’.  

With this in mind, the following command will compute the sum listen_count for each artist and return an SFrame with the results:

In [17]:
artist_counts = song_data.groupby(key_column_names='artist', operations={'total_count': turicreate.aggregate.SUM('listen_count')})

the total number of listens for each artist will be stored in ‘total_count’.

Sort the resulting SFrame according to the ‘total_count’, and find the artist with the most popular and least popular artist in the dataset.  Save these results to answer the quiz at the end.

In [23]:
artist_counts.sort('total_count', ascending=True)

Columns:
	artist	str
	total_count	int

Rows: 3375

Data:
+-------------------------------+-------------+
|             artist            | total_count |
+-------------------------------+-------------+
|        William Tabbert        |      14     |
|         Reel Feelings         |      24     |
| Beyoncé feat. Bun B and Sl... |      26     |
|             Diplo             |      30     |
|         Boggle Karaoke        |      30     |
|         harvey summers        |      31     |
|             Nâdiya            |      36     |
| Kanye West / Talib Kweli /... |      38     |
|        Aneta Langerova        |      38     |
|          Jody Bernal          |      38     |
+-------------------------------+-------------+
[3375 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
artist_counts.sort('total_count', ascending=False)

Columns:
	artist	str
	total_count	int

Rows: 3375

Data:
+------------------------+-------------+
|         artist         | total_count |
+------------------------+-------------+
|     Kings Of Leon      |    43218    |
|     Dwight Yoakam      |    40619    |
|         Björk          |    38889    |
|        Coldplay        |    35362    |
| Florence + The Machine |    33387    |
|     Justin Bieber      |    29715    |
|    Alliance Ethnik     |    26689    |
|      OneRepublic       |    25754    |
|         Train          |    25402    |
|     The Black Keys     |    22184    |
+------------------------+-------------+
[3375 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

**Using groupby-aggregate to find the most recommended songs** </br> Now that we learned how to use .groupby() to compute aggregates for each value in a column, let’s use to find the song that is most recommended by the personalized_model model we learned in the Jupyter notebook above.  Follow these steps to find the most recommended song:

Split the data into 80% training, 20% testing, using seed=0, as was done in the Jupyter notebook above.

In [25]:
train_data,test_data = song_data.random_split(.8,seed=0)


Train an item_similarity_recommender, as done in the Jupyter notebook, using the training data.

In [26]:
item_similarity_recommender = turicreate.item_similarity_recommender.create(train_data,
                                                                  user_id = 'user_id',
                                                                  item_id = 'song')

Warning: Ignoring columns song_id, listen_count, title, artist;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 893580 observations with 66085 users and 9952 items.

    Data prepared in: 0.84019s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 2.085ms                        | 1.5        |

| 29.771ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 320.859ms                           | 0                | 0               |

| 1.14s                               | 100              | 9952            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 2.20879s

Next, we are going to make recommendations for the users in the test data, but  there are over 200,000 users (58,628 unique users) in the test set.  Computing recommendations for these many users can be slow in some computers.  Thus, we will use only the first 10,000 users only in this question.  Using this command to select this subset of users:

In [28]:
subset_test_users = test_data['user_id'].unique()[0:10000]

Let’s compute one recommended song for each of these test users.  Use this command to compute these recommendations:

In [32]:
recommended = item_similarity_recommender.recommend(subset_test_users,k=1)

recommendations finished on 1000/10000 queries. users per second: 5871.71

recommendations finished on 2000/10000 queries. users per second: 8507.38

recommendations finished on 3000/10000 queries. users per second: 10047.6

recommendations finished on 4000/10000 queries. users per second: 10553.3

recommendations finished on 5000/10000 queries. users per second: 11343.6

recommendations finished on 6000/10000 queries. users per second: 11998.2

recommendations finished on 7000/10000 queries. users per second: 12454.1

recommendations finished on 8000/10000 queries. users per second: 12790

recommendations finished on 9000/10000 queries. users per second: 12996.1

recommendations finished on 10000/10000 queries. users per second: 13101.2

For this question, we simply want to count how often each song is recommended, so we will use the COUNT aggregator instead of SUM, and store the results in a column we will call ‘count’ by using:

In [35]:
song_count = recommended.groupby(key_column_names='song', operations={'count': turicreate.aggregate.COUNT()})

In [38]:
song_count.sort('count', ascending=True)

Columns:
	song	str
	count	int

Rows: 3143

Data:
+--------------------------------+-------+
|              song              | count |
+--------------------------------+-------+
| Goons Lurkin (Explicit Alb...  |   1   |
| One Last Kiss (LP Version)...  |   1   |
| Spanish Caravan  [New Ster...  |   1   |
|        Cerdo - Molotov         |   1   |
| Chapter Four - Avenged Sev...  |   1   |
|        Bed - J. Holiday        |   1   |
| Give A Little Bit - Supertramp |   1   |
|  Song For You - Alexi Murdoch  |   1   |
| Groundzero (Original Versi...  |   1   |
|     Wavin'  Flag - K'Naan      |   1   |
+--------------------------------+-------+
[3143 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [39]:
song_count.sort('count', ascending=False)

Columns:
	song	str
	count	int

Rows: 3143

Data:
+--------------------------------+-------+
|              song              | count |
+--------------------------------+-------+
|          Undo - Björk          |  432  |
|     Secrets - OneRepublic      |  386  |
|    Revelry - Kings Of Leon     |  224  |
| You're The One - Dwight Yoakam |  162  |
| Fireflies - Charttraxx Karaoke |  121  |
| Horn Concerto No. 4 in E f...  |   94  |
|    Sehr kosmisch - Harmonia    |   94  |
|    Hey_ Soul Sister - Train    |   91  |
| OMG - Usher featuring will...  |   61  |
| Dog Days Are Over (Radio E...  |   48  |
+--------------------------------+-------+
[3143 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.